.weather {
  display: grid;
  grid-template-areas:
    "icon info"
    "forecast forecast"
}

.weather__icon {
  grid-area: icon;
}

.weather__info {
  grid-area: info;
}

.weather__forecast {
  grid-area: forecast;
}

.weather__forecast__nowbar {
  height: 0.25rem;
  border: none;
}
